<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" metadata-complete="true" version="3.1">
  <servlet>
    <servlet-name>mars06</servlet-name>
    <servlet-class>tw.org.iii.mars06</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mars06</servlet-name>
    <url-pattern>/mars06.go</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>mars07</servlet-name>
    <servlet-class>tw.org.iii.mars07</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mars07</servlet-name>
    <url-pattern>/mars07.go</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>mars08</servlet-name>
    <servlet-class>tw.org.iii.mars08</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mars08</servlet-name>
    <url-pattern>/mars08</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>mars09</servlet-name>
    <servlet-class>tw.org.iii.mars09</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mars09</servlet-name>
    <url-pattern>/mars09</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>mars10</servlet-name>
    <servlet-class>tw.org.iii.mars10</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mars10</servlet-name>
    <url-pattern>/mars10</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>mars11</servlet-name>
    <servlet-class>tw.org.iii.mars11</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mars11</servlet-name>
    <url-pattern>/mars11</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>mars12</servlet-name>
    <servlet-class>tw.org.iii.mars12</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mars12</servlet-name>
    <url-pattern>/mars12</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>mars13</servlet-name>
    <servlet-class>tw.org.iii.mars13</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mars13</servlet-name>
    <url-pattern>/mars13</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>mars14</servlet-name>
    <servlet-class>tw.org.iii.mars14</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mars14</servlet-name>
    <url-pattern>/mars14</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>mars15</servlet-name>
    <servlet-class>tw.org.iii.mars15</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mars15</servlet-name>
    <url-pattern>/mars15</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>mars16</servlet-name>
    <servlet-class>tw.org.iii.mars16</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mars16</servlet-name>
    <url-pattern>/mars16</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>mars18</servlet-name>
    <servlet-class>tw.org.iii.mars18</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mars18</servlet-name>
    <url-pattern>/mars18</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>mars19</servlet-name>
    <servlet-class>tw.org.iii.mars19</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mars19</servlet-name>
    <url-pattern>/mars19</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>mars20</servlet-name>
    <servlet-class>tw.org.iii.mars20</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mars20</servlet-name>
    <url-pattern>/mars20</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>mars21</servlet-name>
    <servlet-class>tw.org.iii.mars21</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mars21</servlet-name>
    <url-pattern>/mars21</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>mars22</servlet-name>
    <servlet-class>tw.org.iii.mars22</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mars22</servlet-name>
    <url-pattern>/mars22</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>mars23</servlet-name>
    <servlet-class>tw.org.iii.mars23</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mars23</servlet-name>
    <url-pattern>/mars23</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MarsUtils</servlet-name>
    <servlet-class>tw.org.iii.MarsUtils</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MarsUtils</servlet-name>
    <url-pattern>/MarsUtils</url-pattern>
  </servlet-mapping>
  <context-param>
    <description>檔案上傳目錄</description>
    <param-name>upload-path</param-name>
    <param-value>C:\Users\Joseph\git\maskman\servlet\WebContent\upload</param-value>
  </context-param>
  <context-param>
    <description>圖片上傳目錄</description>
    <param-name>imgs-path</param-name>
    <param-value>C:\Users\Joseph\git\maskman\servlet\WebContent\imgs</param-value>
  </context-param>
</web-app>